
<div id="aboutView">
<br /><br />
    
Bookeat.gr helps you connect with the restaurants you choose, better than ever! Bookeat.gr enables you to make real-time, totally free restaurant reservations, 24 hours / 7 days in a quick and easy way. Stop searching in internet for telephone numbers, stop calling in restaurants for information, stop waiting for confirmation!

Bookeat.gr is offering online reservation and marketing service for restaurants. Bookeat.gr enables you to browse restaurants based on location, restaurant's name or services.
<br /><br />

Beyond these, in bookeat,gr, you can post in detail your ideal lunch or dinner. The restaurants receive your preferences and they respond with offers to you! Choose one of these and.... enjoy your meal!

In bookeat.gr, you can book through three ways: you may call, through browser, the restaurant, you may fill the booking form, you can post your ideal lunch or dinner and wait for restaurants's responses!
<br />
<br />

Bookeat.gr gets you discounts too, to make it easy for you to find a desirable, yet affordable, dining experience.
<br />
<br />

Whether you're at home or on the move, you may use laptop, tablet or smartphone to book a table, because bookeat.gr has also a mobile version!
    <hr/><strong>bookeat</strong> app was created using the following free &amp; open source software:
    <ul>
        <li><a href="javascript:openExternalURL('http://www.phonegap.com')">PhoneGap</a></li>
        <li><a href="javascript:openExternalURL('http://www.jquery.com')">jQuery</a></li>
        <li><a href="javascript:openExternalURL('https://github.com/janl/mustache.js')">Mustache.js</a></li>
        <li><a href="javascript:openExternalURL('http://triceam.github.com/app-UI')">app-UI</a></li>
        <li><a href="javascript:openExternalURL('http://leaflet.cloudmade.com/')">Leaflet</a></li>
        <li><a href="javascript:openExternalURL('http://appicontemplate.com')">App Icon Template</a></li>
	    <li><a href="javascript:openExternalURL('http://openstreetmap.org/')">OpenStreetMap</a></li>

    </ul>
</div>